# Ignore the bot_directives folder
bot_directives/
# Ignore the .env file
.env
# Ignore local python virtual environment
venv/
# Ignore user defined data
profile_pictures/

# Ignore other defined files
.idea/
utils/__pycache__/
**/__pycache__/
__pycache__/